build
binaries
obj
bin
.nu
_ReSharper.*
_UpgradeReport.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.user
TestResult.xml
*.orig
packages
PrecompiledWeb
core-only
Release
Artifacts
csx
